<div class="search_results list-group">
		<% trips.each do |trip| %>	
			<%= link_to show_trip_path(trip.id), :class => 'list-group-item trip_search_result' do %>			
				<h4 class="list-group-item-heading"><div class="title"><%= trip.trip_name %></div></h4>

					<div class="list-group-item-text">
						<div class="row">
							<div class="col-md-3">
								<% if !trip.team_name.to_s.empty? %>
								<div class="team_name">
									 <i class="fa fa-users"></i> <%= trip.team_name %>						
								</div>
								<% end %>

								<% if !trip.start_date.to_s.empty? and !trip.end_date.to_s.empty? %>
								<div class="trip_dates">
									 <i class="fa fa-calendar"></i> <%= trip_date(trip.start_date) %> - <%= trip_date(trip.end_date) %>				
								</div>
								<% end %>

								<% if trip.num_journal_entries %>
								<span class="label label-info"><%= trip.num_journal_entries %> <%= "entry".pluralize(trip.num_journal_entries) %></span>
								<% end %>

							</div>

							<div class="col-md-9">
								<% if !trip.description.to_s.empty? %>
									<p class="description"><%= trip.description %></p>
								<% end %>

							</div>

						</div>

					</div>
		

			<% end %>
			
		<% end %>
	</div>



