<div class="row" id="trip_header_info">
				<div class="col-md-12">
					<h1><%= trip.trip_name %></h1>
						<% if !trip.team_name.to_s.empty? %>
							<div class="team_name">
								 <i class="fa fa-users"></i> <%= trip.team_name %>						
							</div>
							<% end %>

							<% if !trip.start_date.to_s.empty? and !trip.end_date.to_s.empty? %>
							<div class="trip_dates">
								 <i class="fa fa-calendar"></i> <%= trip_date(trip.start_date) %> - <%= trip_date(trip.end_date) %>				
							</div>

							<% end %>

				</div>
</div>