<div class="container manage_trip">
		
	<%= form_for @trip, url: @url do |t| %>
		<%= render 'shared/error_messages', obj: @trip %>
		
		<div class="form-group">
			<%= t.label :trip_name %>
			<%= t.text_field :trip_name, :class => 'form-control' %>
		</div>

		<div class="form-group">
			<%= t.label :description %>
			<%= t.text_area :description, :class => 'form-control trip_description' %>
		</div>

		<div class="form-group">
			<%= t.label :team_name %>
			<%= t.text_field :team_name, :class => 'form-control' %>
		</div>

		<div class="form-group">			
			<%= t.label :start_date %>
			<div class="input-append date form_datetime">
				<%= t.text_field :start_date, :class => 'form-control' %>
				<span class="add-on"><i class="icon-th"></i></span>
			</div>
		</div>

		<div class="form-group">			
			<%= t.label :end_date %>
			<div class="input-append date form_datetime">
				<%= t.text_field :end_date, :class => 'form-control' %>
				<span class="add-on"><i class="icon-th"></i></span>
			</div>
		</div>

		<div class="form-group">
			<%= t.label :price %>
			<%= t.number_field :price, :class => 'form-control', :min => 0 %>
		</div>

		<div class="from-group">
			<%= t.label :contact_email %>
			<%= t.text_field :contact_email, :class => 'form-control' %>
		</div>

		<div class="form-group">
			<%= t.label "Public Trip?" %>
			<%= t.check_box :is_public_trip %><br />
			<div class="alert alert-info">
			<span class="label label-default">Heads up!</span>
				A public trip allows anyone to
				<ul>
					<li>See and share trip entries and photos</li>					
					<li>Donate to your trip</li>
				</ul>
			</div>
		</div>
		
		<%= t.submit 'Save', :class => 'btn btn-primary' %>



	<% end %>


</div>


<script type="text/javascript">
  $(document).ready(function(){
     $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd",
        minView: 2,
        maxView: 2

    });
  })
</script>