<div class="container">
	<h1>Manage Email List</h1>

	<%= link_to 'New Recipient', new_email_recipient_path(@trip), :class => 'btn btn-primary' %>

	<table class="table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<% @email_recipients.each do |e| %>
				<tr>
					<td><%= e.first_name %></td>
					<td><%= e.last_name %></td>
					<td><%= e.address %></td>
					<td>
						<div class="btn-group">
							<%= link_to delete_email_recipient_path(e), :class => 'btn btn-danger', :method => 'delete' do %>
								<i class="fa fa-trash-o"></i> 
							<% end %>
						</div>

					</td>
				</tr>
			<% end %>
		</tbody>

	</table>

</div>