<div class="container">
	
	<%= link_to "Back to my trip", show_trip_path(@trip.id), :class => 'btn btn-default' %>

	<h1>My Team 	<a href="#" id="invite_friends_button" class='btn btn-primary'><i class="fa fa-plus"></i> Invite Team Members</a></h1>
		
		<div class="list-group">

		<% @teammates.each do |t| %>
				<div class="list-group-item">					
			  			<img src="<%= t.photo_url %>"></img>
				  			<%= t.name %>
				  			<%= link_to "Remove from Team", delete_team_member_path(@trip.id, t.id), :class => 'btn btn-danger pull-right', :method => 'delete' %>
			  	</div>


		<% end %>
		</div>
	

	
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#invite_friends_button").click(function(e) {
			e.preventDefault();

			FB.ui({
			    method: 'apprequests',
			    message: 'Join me on my mission trip to <%= @trip.trip_name %>'
			}, function(response) {
				$.post('<%= invite_friends_path %>', {
					trip_id: '<%= @trip.id %>',
					friend_ids: response.to	
				}, function(result) {
					window.location.reload()
				});

			});
		});	
		
	});

</script>


