<div class='container'>
	<h1>New Email Recipient</h1>

	<%= render 'shared/error_messages', obj: @recipient %>

	<%= form_for @recipient, :url => save_email_recipient_path(@trip) do |e| %>
		<div class="form-group">
			<%= e.label :first_name, :class => 'control-label' %>
			<%= e.text_field :first_name, :class => 'form-control' %>
		</div>

		<div class="form-group">
			<%= e.label :last_name, :class => 'control-label' %>
			<%= e.text_field :last_name, :class => 'form-control' %>
		</div>

		<div class='form-group'>
			<%= e.label :address, :class => 'control-label' %>
			<%= e.text_field :address, :class => 'form-control' %>

		</div>

		<%= e.submit 'Save', :class => 'btn btn-primary' %>

	<% end %>

</div>