<% content_for :meta_tags do %>
	<meta property="og:title" content="<%= @trip.trip_name %>" />
	<meta property="og:description" content="<%= @trip.description %>" />
	<meta property="og:type" content="<%= ENV['FACEBOOK_NAMESPACE_PREFIX'] %>:trip" />
	<meta property="og:url" content="<%= show_trip_url(@trip.id) %>" />
	<meta property="og:image" content="<%= image_url('logo.png') %>" />
<% end %>

<div class="container">

	<% if flash[:notice] %>
    	<div class="alert alert-success"><%= flash[:notice] %></div>
  	<% end %>

	<div class="row">
		<div class="col-md-9">
			
			<%= render 'trips/trip_header', trip: @trip %>

				<%# if user_belongs_to_trip(@trip) %>	
				<%# link_to new_journal_entry_path(@trip.id), :class => 'btn btn-primary' do %> 
				<!-- <i class="fa fa-plus"></i> New Entry<%# end %> -->
				<%# end %>

				<%# if user_belongs_to_trip(@trip) %>
				<!-- 	<span class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							Trip Actions
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li> -->
								<%# link_to manage_trip_path(@trip), :role => 'menuitem' do %>
								<!-- <i class="fa fa-pencil"></i> Manage Trip -->
							<%# end %>
							<!-- </li> -->
							<!-- <li> -->
								<%# link_to manage_team_path(@trip),:role => 'menuitem' do %>
								<!-- <i class="fa fa-users"></i> Manage Team -->
							<%# end %>
							<!-- </li> -->

							<!-- <li> -->
								<%# link_to manage_newsletters_path(@trip), :role => 'menuitem' do %>
									<!-- <i class="fa fa-envelope"></i> Manage Newsletters  -->
								<%# end %>
							<!-- </li> -->
						<!-- </ul> -->
					<!-- </span> -->

					<%# end %>

				
					<div class="btn-group pull-right">
						
						<%= link_to new_trip_donation_path(@trip.id), :class => 'btn btn-link' do %>
							<i class="fa fa-heart"></i> Support
						<% end %>

						<% if !user_is_following_trip(@trip) %>
							<%= link_to follow_trip_path(@trip.id), :class => 'btn btn-link' do %>
								<i class="fa fa-bookmark"></i> Follow
							<% end %>

						<% else %>
							<%= link_to stop_following_trip_path(@trip.id), :class => 'btn btn-link btn-danger' do %>
								<i class="fa fa-stop"></i> Unfollow 
							<% end %>						
	
						<% end %>

						<a class="btn btn-link pull-right" id="share_button"><i class="fa fa-share"></i> Share</a>
					</div>
			<div class="entries">
				<h3>Updates</h3>
				 
				<% @journal_entries.each do |j| %>
						<div class="row entry">
							
								<div class="col-md-2">
									<%= render 'shared/entry_date', entry_date: j.entry_date %>
								</div>

								<div class="col-md-9 well">
									<%= render 'shared/profile_info', profile_info: load_teammate_from_list(j.user_id, @teammates) %>

									<p class="preserve_whitespace_paragraph"><%= paragraph_limiter j.entry_description %></p>	

									<%= link_to "View", show_journal_entry_path(j.id), :class => 'btn btn-primary' %>


								</div>		
						</div>
				<% end %>
			</div>


		</div>

		<div class="col-md-3 well well-sm">
			
			<h3 class="text-center">About This Trip</h3>

			<% if !@trip.description.nil? and @trip.description.length > 0 %>
				<div>
					<b>Description</b><br />
					<%= @trip.description %>
				</div>
				<br />
			<% end %>

			<% if !@trip.price.nil? and @trip.price.length > 0 %>
				<strong>Price</strong><br />
				$<%= @trip.price %>	
				<br />
			<% end %>

		
			<h3 class="text-center">Meet the Team</h3>
			<%= render "team/team_grid", teammates: @teammates %>

			<h3 class="text-center">Photos</h3>

			<div id="gallery" class="text-center">
						
			</div>
			
		</div>



</div>

<%= render 'shared/photo_template' %>

<script type="text/javascript">

	$(document).ready(function() {				

		var target = document.getElementById('gallery');
		var spinner = new Spinner().spin(target);	


		$.get("<%= photo_ids_for_trip_path %>", {trip_id: "<%= @trip.id %>"}, function(data) {
			_.each(data.photo_ids, function(photo_id) {				
				var file_name = photo_id + ".jpg";
				var photo_template = $("#photo_template").html();
				var html = Mustache.render(photo_template, {file_name: file_name});				
				$("#gallery").append(html);								
			});

			$('#gallery').photobox('a',{ time:0 });
			spinner.stop();
		});

		$("#share_button").click(function() {
			<%= fb_share('trip', show_trip_url(@trip.id)) %>
		});

	});

	

</script>