<div class="container">
<h1>Sign Up</h1>
	<p>You'll need to sign up or sign in with Facebook to receive updates to this trip. Don't worry! It's quick, easy, and we won't post anything without your permission.</p>

	<%= link_to 'Sign Up or Sign In', '/auth/facebook', :class => 'btn btn-primary' %>
</div>

