<div class="container">	
	<fieldset>
		<legend>Trips I'm a Part of</legend>

			<%# link_to add_trip_path, :class => 'btn btn-primary with_bottom_margin' do %>
			<!-- 	<i class="fa fa-plus"></i> Add a Trip -->
			<%# end %>
			<%= render "trip_list", trips: @trips %>
	</fieldset>

	<fieldset>
		<legend>Trips I'm following</legend>
		<%= render "trip_list", trips: @trips_following %>
	</fieldset>

</div>