<div class="container">
	<a class="btn btn-fb btn-lg" href="/auth/facebook"><i class="fa fa-facebook-square"></i> Signup with Facebook</a><br />

		
		<strong>Note: We will never post to Facebook without your permission</strong>
	
</div>