<div class="container" id="journal_entry_form" ng-app="journal_entry_app" ng-controller="JournalEntryController" ng-init="initialize('<%= @trip.id %>', '<%= @id %>', '<%= @url %>')">

	<% back_url = @id == -1 ? show_trip_path(@trip.id) : show_journal_entry_path(@id) %>
	<% back_name = @id == -1 ? "Back to Trip" : "Back to Entry" %>
	
	<%= link_to back_url, :class => 'btn btn-default' do %>
		<i class="fa fa-chevron-left"></i> <%= back_name %>
	<% end %>

	<h1>{{entry.id == -1 ? "New Entry" : "Edit Entry"}}</h1>

	<form name="journal_entry_form" no-validate>
		<div class="form-group">
			<label class="control-label">Entry Date</label>
			<div class="input-append date form_datetime">
    			<input class="form-control" type="text" ng-model="entry.entry_date" readonly required>
    			<span class="add-on"><i class="icon-th"></i></span>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label">Description</label>
			<textarea class="form-control entry_description" ng-model="entry.entry_description" required></textarea>
		</div>

		<div class="tags form-group">				
			<label class="control-label">Tags</label>						
			 <tags-input ng-model="entry.tags" class="bootstrap" display-property="tag_name" on-tag-added="add_tag($tag)">
			 	<auto-complete source="load_tags($query)"></auto-complete>        				
			</tags-input>
		</div>
		
		<div class="form-group">
			<label>Make Private? <input type="checkbox" ng-model="entry.is_private" /></label>
		</div>

		<button ng-disabled="!journal_entry_form.$valid" ng-click="save(journal_entry_form)" class='btn btn-primary'>Save</button>

	</form>

</div>



<script type="text/javascript">
  $(document).ready(function(){
    $(".form_datetime").datetimepicker({
        format: "mm/dd/yyyy HH:ii P",
        showMeridian: true,
    });
  })
</script>