
<% content_for :meta_tags do %>
	<meta property="og:title" content="<%= @trip.trip_name %>" />
	<meta property="og:description" content="<%= @entry.entry_description %>" />
	<meta property="og:type" content="<%= ENV['FACEBOOK_NAMESPACE_PREFIX'] %>:journal_entry" />
	<meta property="og:url" content="<%= show_journal_entry_url(@entry.id) %>" />
	<meta property="og:image" content="<%= image_url('logo.png') %>" />

<% end %>
	
<div class="container">	
	
	<%= link_to show_trip_path(@trip.id), :class => 'btn btn-default' do %>
		<i class="fa fa-chevron-left"></i> Back to Trip
	<% end %>

	<%= render 'trips/trip_header', trip: @trip %>

	<div class="btn-group with_bottom_margin">

		<% if user_owns_journal_entry(@entry) %>

			<%= link_to edit_journal_entry_path(@entry.id), :class => 'btn btn-default' do %>
				<i class="fa fa-pencil"></i> Edit Entry
			<% end %>
			<%= link_to delete_journal_entry_path(@entry.id), :class => 'btn btn-danger', :method => 'delete' do %>
				<i class="fa fa-trash-o"></i> Delete Entry
			<% end %>

		<% end %>

	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-2">
					<%= render 'shared/entry_date', entry_date: @entry.entry_date %>
				</div>

				<div class="col-md-9 well">		
					<a class="btn btn-link pull-right" id="share_button"><i class="fa fa-share"></i> Share</a>
					<%= render 'shared/profile_info', profile_info: profile_info(@entry.user_id) %>					
					<p class="preserve_whitespace_paragraph"><%= @entry.entry_description %></p>

					<% @tags.each do |t| %>
						<span class="label label-info"><i><%= t.tag_name %></i></span>
					<% end %>	
					
					

				</div>
			</div>
		</div>

		<div class="col-md-3 well well-sm">
			<h4>Photos</h4>

			<div id="gallery">
				
			</div>

		</div>

	</div>
	
</div>

<%= render 'shared/photo_template' %>



<script type="text/javascript">
	$(document).ready(function() {	

		var target = document.getElementById('gallery');
		var spinner = new Spinner().spin(target);	

		$.get("<%= photo_ids_for_entry_path %>", {journal_entry_id: "<%= @entry.id %>"}, function(data) {
			_.each(data.photo_ids, function(photo_id) {				
				var file_name = photo_id + ".jpg";
				var photo_template = $("#photo_template").html();
				var html = Mustache.render(photo_template, {file_name: file_name});				
				$("#gallery").append(html);								
			});

			$('#gallery').photobox('a',{ time:0 });
			spinner.stop();
		});

		$("#share_button").click(function() {
			<%= fb_share('journal_entry', show_journal_entry_url(@entry.id)) %>
		});


	});

</script>