<h1>Hey there!</h1>

<p>
	<%= @follower_name %> is now following your trip, <%= @trip.trip_name %>, on Mission List. They will be notified whenever you post publically, so make sure to keep them up to date with what's happening with your trip!
</p>

<p>
Thanks!<br />
<i>The Mission List Team</i>
</p>