<div class="container well">
	<h1>Find a Trip</h1>

	<p>Interested in donating or following a trip? Look no further!</p>

		<%= form_tag(perform_trip_search_path, method: "post", :class => 'search_form', :role => "form") do %>			<div class="form-group">	
				<%= text_field_tag("search_text", @search_term, :class => 'form-control input-lg text-center', :placeholder => "Trip or team name") %>				
				</div>

				<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg col-xs-12 col-md-4 col-md-offset-4"><i class="fa fa-search"></i> Find Trips</button>								
				</div>
		<% end %>




</div>

	<div class="container">
		<%= render "trips/trip_list", trips: @trips %>
	</div>
