		
									<div class="text-center">
										<div class="entry_month"><%= entry_date.strftime("%-b") %></div>
										<div class="entry_day"><%= entry_date.strftime("%d") %></div>
										<div class="entry_time"><%= entry_date.strftime("%I:%M %p") %></div>
									</div>
		
