<script type="x-tmpl-mustache" id="photo_template">
	<a href="https://s3.amazonaws.com/missionjournal/{{file_name}}">
		<div class="thumb">
			<img class="thumbnail" src="https://s3.amazonaws.com/missionjournal/thumbnails/{{file_name}}" alt=""></img>
		</div>
	</a>
</script>