<div class="profile_info">
	<%= link_to show_user_path(profile_info.id) do %>
		<%= image_tag profile_info.photo_url %>
		<span class="profile_name"><%= profile_info.name %>
	<% end %>
</div>


<style>
	.profile_name {
		font-size: 12pt;	
	}
</style>