	<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home" style="background-image: url('<%= image_path('welcome_banner.jpg') %>')">
			<header class="clearfix">
	  		 		<h1><%= image_tag "logo.png" %> </h1>
	  		 		<p>Welcome to Mission List</p>
	  		 		<p class="subheading">Mission List helps you and your team share your mission trip with your donors, church, family, and friends. Keep them up-to-date with what's happening either live on the field with our app or when you return from your trip.</p>	  		 	
	  		 		 <%= link_to 'Sign Up or Sign In', '/auth/facebook', :class => 'btn btn-primary btn-lg' %>
	  		</header>	    
	    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<span class="fa fa-mobile fa-4x"></span>
					<h2>Share Anywhere</h2>
					<p>The Mission List app for iOS lets you capture what's happening on your trip while it's going on. No internet? No problem. Mission List will wait until you're back online to sync back up to the cloud.</p>
					<a class="btn btn-success btn-lg" href="https://itunes.apple.com/us/app/mission-journal/id788408980?mt=8&ign-mpt=uo%3D4">Get the App</a>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="fa fa-users fa-4x"></span>
					<h2>Use with Your Team</h2>
					<p>Mission List is designed with your team in mind. Invite your teammates to your trip and begin sharing your experiences with one another.</p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="fa fa-globe fa-4x"></span>
					<h2>Show the World</h2>
					<p>Share the impact your team is having with the world. Donors, churches, family members, and friends can see and donate to the stories and photos you share through your own page on Mission List.</p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->

			<div class="container">
				<div class="row white">
					<h1 class="centered"> FEATURES</h1>
					<hr />
		  			<div class="col-xs-12 col-md-4">
		  				<div class="showcase">
		  					<%= link_to "/images/screenshots/find_a_trip.jpg", :class => 'thumbnail' do %>
								<%= image_tag "/images/screenshots/thumbs/find_a_trip.jpg" %>
		  					<% end %>
		  				</div>
		  				<div class="caption">
					        <h3 class="text-center">Find Your Trip</h3>
					        <p class="text-center">Mission List makes finding and discovering trips a breeze. Search by organization or trip name to find and follow trips you may be interested in supporting or following.
					        </p>
					    </div>		    			
		  			</div>

		  			<div class="col-xs-12 col-md-4">
		  				<div class="showcase">
		  					<%= link_to "/images/screenshots/donate.jpg", :class => 'thumbnail' do %>
								<%= image_tag "/images/screenshots/thumbs/donate.jpg" %>
		  					<% end %>
		  				</div>
		  				<div class="caption">
					        <h3 class="text-center">Send and Receive Donations</h3>
					        <p class="text-center">Want to allow donors to support you and see the impact you're having? Mission List makes donations easy for you and for your donors.
					        </p>
					    </div>		    			
		  			</div>

					<div class="col-xs-12 col-md-4">
		  				<div class="showcase">
		  					<%= link_to "/images/screenshots/show_trip.jpg", :class => 'thumbnail' do %>
								<%= image_tag "/images/screenshots/thumbs/show_trip.jpg" %>
		  					<% end %>
		  				</div>
		  				<div class="caption">
					        <h3 class="text-center">Track Updates</h3>
					        <p class="text-center">
								See the impact and memories your team is making. With our on-the-field app, you can see and post updates as they are happening or when your team returns.
					        </p>
					    </div>
		    			
		  			</div>

				</div>

			<!-- 	<div class="row white">
					<div class="col-xs-12 col-md-4 col-md-offset-2">
		  				<div class="showcase">
		  					<%# link_to "/images/screenshots/manage_team.jpg", :class => 'thumbnail' do %>
								<%# image_tag "/images/screenshots/thumbs/manage_team.jpg" %>
		  					<%# end %>
		  				</div>
		  				<div class="caption">
					        <h3 class="text-center">Manage Your Team</h3>
					        <p class="text-center">
								Invite your friends to your trip and see it from their eyes. View their photos and stories along with your own.
					        </p>
					    </div>
		    			
		  			</div> -->

<!-- 		  			<div class="col-xs-12 col-md-4">
		  				<div class="showcase">
		  					<%# link_to "/images/screenshots/manage_trip.jpg", :class => 'thumbnail' do %>
								<%# image_tag "/images/screenshots/thumbs/manage_trip.jpg" %>
		  					<%# end %>
		  				</div>
		  				<div class="caption">
					        <h3 class="text-center">Manage Your Trip</h3>
					        <p class="text-center">
					        	Managing a trip has never been easier. Easily create, edit, and view you and your team's updates through our simple web interface or through the app.
					        </p>
					    </div>
		    			
		  			</div> -->
		  		<!-- </div> -->


			</div>
		
		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered"> FOR VISITING US</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<h3>Contact Information</h3>
					<p>
						<span class="fa fa-envelope"></span> <a href="#"> info@missions-in-motion.com</a> <br/>
						<span class="fa fa-twitter"></span> <a href="twitter.com/missionapps"> @missionapps </a> <br/>
						<span class="fa fa-facebook"></span> <a href="facebook.com/missionapps"> Missions in Motion </a> <br/>
					</p>
				</div><!-- col -->

				<div class="col-lg-4">
					<h3>Credits</h3>
					<ul>
						<li>
						Site template by <a href="http://www.blacktie.co/2014/02/shield-one-page-theme/">Blacktie.</a>
						</li>
						<li>
							Welcome banner image from <a href="http://www.shutterstock.com/gallery-363466p1.html?cr=00&pl=edit-00">africa924</a> / <a href="http://www.shutterstock.com/?cr=00&pl=edit-00">Shutterstock.com</a>
						</li>
					</p>
					<p>
				</div>
				

			</div><!-- row -->
		
		</div><!-- container -->

		<div id="footerwrap">
			<div class="container">
				<h4>Created by <a href="http://missions-in-motion.com">Missions in Motion</a> - Copyright 2014</h4>
			</div>
		</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.showcase').photobox('a',{ time:0 });
		});
	</script>