<div class="container">
	<h1>Thanks for your donation!</h1>

	<p>Your recipient's funds should be received within a day or two. You'll be emailed a copy of your receipt.</p>

	<%= link_to 'Find more trips', find_trips_path, :class => 'btn btn-default' %>
</div>