<div class="container" ng-app="user_donation_app" ng-controller="UserDonationController" ng-init="initialize('<%= @stripe_key %>', '<%= @profile_info.photo_url %>', '<%= @profile_info.name %>', '<%= @profile_info.id %>', '<%= @specific_trip_id %>')">
	<h1>Make Donation</h1>

	<%= render 'shared/profile_info', profile_info: @profile_info %>

		<form>
			<div class="form-group">
				<label class="control-label">Donation Amount</label>
				<div class="input-group">		
					<span class="input-group-addon">$</span>
						<input type="text" class="form-control donation_amount" ng-model="payment_amount" integer />
					<span class="input-group-addon">.00</span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Leave them a message</label>
				<textarea ng-model="message" class="form-control"></textarea>
			</div>

			<div class="form-group">
				<label class="control-label">Trip Designation</label>
				<select ng-model="trip" ng-options="formatted_trip_name(t) for t in trips" class="form-control" ng-show="!trips_loading">	
					<option value="">None</option>				
				</select>
				<img src="<%= image_url('ajax-loader.gif') %>" ng-show="trips_loading"></img>
			</div>

			<div class="alert alert-danger" ng-show="error_message.length > 0">
				Oops! We couldn't process your payment because: <br />
				{{error_message}}
			</div>	

			<button class="btn btn-primary" ng-click="pay_now()" ng-show="!submitting">Pay Now</button>
			<img src="<%= image_url('ajax-loader.gif') %>" ng-show="submitting"></img>

		</form>
</div>

<script>
 
  $(function() {
  	$(".donation_amount").maskMoney({
			allowNegative: false,
			allowZero: false,
			precision: 0
	});
  });

</script>