<div class="container" ng-app="donation_app" ng-controller="DonationController" ng-init="initialize('<%= @trip_id %>')">
	<h1>Donate to {{trip.trip_name}}</h1>

	<div class="well form-horizontal">

			<div class="form-group">
				<label class="control-label col-xs-2">Give every team member</label>
			
				<div class="input-group col-xs-2">		
					<span class="input-group-addon">$</span>
						<input type="text" class="form-control donation_amount" ng-model="everyone_amount" ng-change="everyone_amount_change()" integer />
					<span class="input-group-addon">.00</span>
				</div>
			</div>

	</div>

	<fieldset>	
		<legend><h3>Donate to Specific Team Members</h3></legend>
	<table class="table table-striped">
		<tbody>
			<tr class="success">
				<td class="col-xs-10">
					<strong>Total Donation</strong>
				</td>

				<td class="col-xs-2">
					<div class="form-group">
						<div class="input-group">		
							<span class="input-group-addon">$</span>
								<input type="text" class="form-control donation_amount" ng-model="total_amount" disabled="disabled" integer/>
							<span class="input-group-addon">.00</span>
						</div>
					</div>
				</td>
			</tr>

			<tr ng-show="loading">
				<td><%=image_tag "ajax-loader.gif" %></td>
			</tr>

			<tr ng-repeat="t in teammates">
				<td class="col-xs-10">
					<img src="{{t.photo_url}}"></img>
					<span>{{t.name}}</span>
					<div class="label label-danger inline" ng-show="!user_has_stripe_account(t)">User has not setup donations</div>
				</td>
				<td class="col-xs-2">
					<div class="input-group">		
						<span class="input-group-addon">$</span>
						<input type="text" class="form-control donation_amount" ng-model="t.amount" ng-disabled="!user_has_stripe_account(t)" title="{{get_amount_title(t)}}" integer />
						<span class="input-group-addon">.00</span>
					</div>
				</td>
			</tr>
			
		</tbody>

	</table>
	</fieldset>
	
	<button class="btn btn-primary" ng-click="make_donation()" ng-disabled="total_amount <= 0" ng-show="!submitting">
		Make Donation for ${{total_amount}}
	</button>

	<img src="/assets/ajax-loader.gif" ng-show="submitting"></img>


</div>

<script type="text/javascript">
	$(function() {
		$(".donation_amount").maskMoney({
			allowNegative: false,
			allowZero: false,
			precision: 0
		});
	});
</script>