<div class="container">
	<h1>Donate to <%= @trip.trip_name %></h1>

	<fieldset>	
		<legend><h3>Team Members</h3></legend>
	<table class="table table-striped">
		<tbody>
			<% @team.each do |t| %>
				<tr>
					<td class="col-xs-10">
						<%= render "shared/profile_info", profile_info: t %>		
					</td>
					<td class="col-xs-2">
						<%= link_to_if user_has_stripe_account(t.id.to_s), "Support #{t.name}",new_donation_path(t.id, @trip.id), :class => 'btn btn-default' do 

							link_to 'User has not setup donations', '', :class => 'btn btn-danger disabled'

						end %>

					</td>
				</tr>

			<% end %>
			
		</tbody>

	</table>
	</fieldset>
		
</div>