<div class="container">
	<fieldset>
		<legend><h2>My Donors</h2></legend>

		<h3>Total Raised: <strong><%= number_to_currency(@total_raised) %></strong></h3>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Amount</th>
					<th>Message</th>
					<th>Trip</th>
					<th>Donation Date</th>					
				</tr>
			</thead>

			<tbody>
				<% @donations.each do |d| %>
					<tr>
						<td><%= d.donor_name %></td>
						<td><%= mail_to(d.donor_email) %></td>
						<td><%= d.amount %></td>
						<td><%= d.message %></td>
						<td><%= get_trip_designation(d.trip_id) %></td>
						<td><%= d.date.strftime("%-b. %-d, %Y %I:%M %p") %></td>
					</tr>
				<% end %>
			</tbody>

		</table>

	</fieldset>


</div>