<div class="text-center">
				<% teammates.each do |t| %>
					<%= link_to show_user_path(t.id) do %>
					<%= image_tag t.photo_url, :data => {:toggle => 'tooltip'}, :title => "#{t.name}", :class => 'teammate' %>
					<% end %>

				<% end %>
</div>


<script type="text/javascript">
	$(function() {
		$('.teammate').tooltip({});
	});

</script>