<div class="container">
	<h1>Connect to Stripe</h1>

	<div class="alert alert-info">
		To receive donations, you'll need to setup or connect to a Stripe account. Don't worry, it takes seconds! We won't store any of your credit card information, so your piggy bank is safe and sound! 
	</div>

	<%= link_to 'Connect with Stripe', '/auth/stripe_connect', :class => 'btn btn-primary paypal_button' %>

	<%= link_to 'No Thanks!', view_my_trips_path, :class => 'btn btn-default' %>

</div>