<div class="container">
	<h1>My Account</h1>
	
		<fieldset>
			<legend>Donations</legend>

			<% if current_user.stripe_user_id.nil? || current_user.stripe_user_id.length == 0 %>
				<%= link_to 'Connect with Stripe', '/auth/stripe_connect/', :class => 'btn btn-primary' %>				
			<% else %>
				<%= link_to 'Disconnect from Stripe', disconnect_stripe_path, :class => 'btn btn-danger' %>
			<% end %>
			
		</fieldset>


</div>

<style>
	.paypal_button {
		margin-bottom: 10px;
	}

</style>