<div class="container">
		<%= render 'shared/profile_info', profile_info: @profile_info %>

			<% if user_has_stripe_account(@profile_info.id) %>
				<%= link_to new_donation_path(@profile_info.id), :class => 'btn btn-default' do %>
					<i class="fa fa-heart"></i> Support Me!
				<% end %>
			<% end %>
		
			<h2><%= "#{@profile_info.name}'s" %> Trips</h2>
		<%= render "trips/trip_list", trips: @profile_info.trips %>
</div>


