<html>
    <head>
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
    </head>
    <body style="color: #777A7C; font-family: Lato, Tahoma;">
      	<div class="container">
            <h1 class="trip_title" style="color: #56C6D2; text-align: center;"><%= @newsletter.trip_name %></h1>
			<p>
				<%= @newsletter.custom_message %>
			</p>

			<% @items.each do |i| %>
				
				<% if i.doc_type == "journal_entry"  %>
					<div class="entry" style="display: block;">
						<h2 class="entry_title" style="color: #CC6B1B; text-align: center;">
                            <%= entry_date_formatter(i.entry_date) %>
                        </h2>
						<p><%= i.entry_description %></p>
					</div>

				<% elsif i.doc_type == "photo" %>
                    <a href="<%= remote_photo_url(i.id, false) %>" class="trip_photo" style="display: inline-block; margin: 3px;"> 
                        <img src="<%= remote_photo_url(i.id, true) %>" />
                    </a>

					
				<% end %>

			<% end %>



</div> 
    </body>
</html>