<div class="container">
	<h1><%= @trip.trip_name %> Newsletters</h1>

	<div class="btn-group">
		<%= link_to manage_email_list_path(@trip), :class => 'btn btn-default' do %>
			<i class="fa fa-envelope"></i> Manage Email List
		<% end %>
	</div>

	<table class='table'>
		

	</table>

</div>