@import "bootstrap/variables";

@mim_blue: #56c6d2;
@mim_orange: #cc6b1b;
@mim_dark_green: #28a614;
@mim_light_green: #76d61a;
@mim_light_grey: #e3e6e7;
@mim_medium_grey: #989fa2;
@mim_dark_grey: #777a7c;

