@import "bootstrap/variables.less";

.control-group .field_with_errors > label,
.control-group .field_with_errors .help-block,
.control-group .field_with_errors .help-inline {
  color: @brand-danger;
}

.control-group .field_with_errors input,
.control-group .field_with_errors textarea {
  border-color: @brand-danger;
}