// Place all the styles related to the journal_entry controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

#journal_entry_form {

	.entry_description {
		height: 150px;
	}

}