@import "bootstrap.less";

pre {
	font-family: @font-family-base;
}

.thumb {
    display: inline-block;
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.thumb img {
    display: block; /* Otherwise it keeps some space around baseline */
    min-width: 100%;    /* Scale up to fill container width */
    min-height: 100%;   /* Scale up to fill container height */
}
 
.preserve_whitespace_paragraph {
	white-space: pre-line;
}