// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.btn-fb {
	background-color: #3B5998;
	color: white;
}