
@import "branding.less";

// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

#trip_header_info {
	margin-bottom: 30px;

	h1 {
		color: @mim_blue;
	}
}

.entry_month, .entry_day {
	text-transform: uppercase;
	font-size: 20pt;
	font-weight: bold;
}

.entry_month {
	color: @mim_orange;
}

.entry_day {
	color: @mim_dark_grey;
}

.entry_time {
	color: @mim_medium_grey;
}

.entry {
	margin-bottom: 30px;
}

.search_form {
	margin-bottom: 30px;
}

.trip_search_result {
	min-height: 90px;


	.title {
		color: @mim_blue;	
		margin-bottom: 10px;	
	}

	.team_name, .trip_dates, .description {
		color: @mim_dark_grey;
	}

	

}

.profile_info {
	margin-bottom: 10px;

	.profile_name {
		color: @mim_dark_grey;
		font-weight: bold;
	}

}

.manage_trip {
	.trip_description {
		height: 100px;
	}
}



