// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

#headerwrap {
	.subheading {
		font-size: 16pt;
		
	}
}