<!DOCTYPE html>
<html>
<head>
  <title>Mission List</title>
  <%= stylesheet_link_tag    "application", media: "all" %>  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>    
  <%= javascript_include_tag "http://underscorejs.org/underscore-min.js" %>
  <%= javascript_include_tag "http://fgnass.github.io/spin.js/spin.min.js" %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <%= yield(:meta_tags) %>
  <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>">

  <%= analytics_init if Rails.env.production? %>

</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path, :class => "navbar-brand" do %>      
        <%= image_tag "logo_small.png" %> Mission List
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= nav_link_to 'Home', root_path, 'welcome' %>

        <%= nav_link_to 'Find Trips', find_trips_path, 'find_trips' %>

        <% if current_user %>
          <%= nav_link_to 'My Trips', view_my_trips_path, 'trips' %>          
          <%= nav_link_to 'Donations', view_my_donations_path, 'donation' %>
        <% end %>


      </ul>		   
     
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag current_user.photo_url %>
              <%= "#{current_user.first_name} #{current_user.last_name}" %> <b class="caret"></b>
            </a>


            <ul class="dropdown-menu">
               <li><%= link_to 'My Profile', show_user_path(current_user.id) %></li>
               <li><%= link_to 'My Account', my_account_path %></li>
               <li><%= link_to 'Sign Out', signout_path %></li>

            </ul>
          </li>

        </ul>

       

      <% else %>
        <div class="btn-group navbar-right">
          <%= link_to 'Sign In', '/auth/facebook', :class => 'btn btn-default navbar-btn' %>          
          <%= link_to 'Sign Up', '/auth/facebook', :class => 'btn btn-primary navbar-btn' %>
        </div>
      <% end %>

    </div>   
      
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= ENV['FACEBOOK_KEY'] %>",
          xfbml      : true,
          cookie     : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      $(document).ready(function() {
        // $("#sign_in_button").click(function(e) {
        //     e.preventDefault();

        //     FB.login(function(response) {
        //           if (response.authResponse) {
        //             $.getJSON('/auth/facebook/callback', function(json) {
        //                 window.location.reload("<%= root_path %>");
        //             });
        //           }
        //         }, { scope: 'email,read_stream' });
        //     });
      });


    </script>


</body>
</html>
